@import "../../../data/styles.css";
.social,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}


.email-wrapper a:hover {
	.social-text {
		text-decoration: underline;
	}
}

.social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.social-icon:hover {
	color: var(--primary-color);
	margin-top: -5px;
	margin-bottom: 5px;
}

.social-text {
	display:inline-block;
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 18px;
}

.email::before {
	content: "";
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f4f4f5;
	margin-top: 10px;
}

.email-wrapper {
	padding-top: 10px;
}
