@import "../../../data/styles.css";

.works-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 0px;
	padding-bottom: 20px;
	margin-left: -15px;
	margin-right: -35px;
	width: 100%;
	border-radius: 20px;
	background-color: #f4f4f5;
}

.works-card {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 1024px) {
	.works-card {
		width: 100%;
	}

	.works-container {
		margin-left: 0px;
	}
}

.works-body {
	margin-top: -25px;
}

.work {
	display: flex;
	flex-wrap: wrap;
}

.skill-container { 
	display: flex;
	align-items: center;
	padding: 5px 2px;
	margin: 5px;
	background-color: #ffffff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	font-size: small;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
}

.skill-container p {
	margin: 0px;
}

.work-image {
	margin-right: 10px;
	height: 20px;
	width: 20px;
}