@import "../../../data/styles.css";

.works-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
}

.works-card {
	display: flex;
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 800px) {
	.works-card {
		width: calc(100% / 2);
	}
}

@media (max-width: 600px) {
	.works-card {
		width: 100%;
	}
}

.works-body {
	margin-bottom: 20px;
}

.work {
	padding-bottom: 40px;
}

.work-image {
	padding: 5px 2px;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}