:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #4a4a50;
	--tertiary-color: #74747a;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
